header {
    width: 60%;
    background: linear-gradient(170deg, #704692 0%, #764ba2 100%);
    border:#000000;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    border: 20%;
    padding-bottom: 20px;
    padding-top: 20px;
}

body {
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

ul {
    list-style: none;
    font-size: 20px;
}

nav ul, aside ul {
    list-style: none;
    padding-left: 0;
}

a {
    padding: 20px;
}

a:hover {
    background-color: aquamarine;
    border-radius: 15px;
}

h1, h2, h3, h4, h5 {
    text-shadow: 2px 2px #333
}